name = "rp-fixed-image"
main = "_worker.js"
compatibility_date = "2026-07-17"
keep_vars = true

[assets]
directory = "."
binding = "ASSETS"
run_worker_first = true

[[r2_buckets]]
binding = "RP_IMAGE_R2"
bucket_name = "rp-fiamge"

# Configure this secret with Cloudflare instead of storing it here:
# RP_IMAGE_ADMIN_PASSWORD
